{% extends "base.html" %}
{% block title %}Forgot password{% endblock %}
{% block body_class %}auth-shell{% endblock %}
{% block topnav_actions %}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body p-4">
        <h3 class="text-center">Forgot password</h3>
        <p class="text-center text-muted mb-3">Enter your email. We will send a reset link if the account exists.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary w-100" type="submit">Send reset link</button>
        </form>
        <p class="auth-note text-center"><a href="{% url 'accounts:login' %}">Back to login</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
